<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">


</head>
<body>
<div class="main-content">
{{>header}}

    {{!-- <img class="portrait" src="/img/asim.jpg" alt="asim"> --}}
    <p>hey User ;</p>
    <p>This Weather Application Can provide you the current Temperature , 
        air pressure , wind speed and Forcast Data of any country/city at 
        any time . You just provide Name of the location and as well 
        as the country/city code in Input field At Weather page .</p>
     <p>
         This Weather Application used pure Node js server language and 
         Fetch the two APIs at the same time for the forcast Data . One from 
         MapBox.com and other one from OpenWeather.com simultaneously .

     </p>  
    

</div>

    

    {{>footer}}
</body>
</html>